/* 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
    Fonts 
||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
*/

@font-face {
    font-family: "IranYekan";
    src: url(../../Fonts/IranYekan/IRANYekanWebMedium.ttf) format(truetype);
    src: url(../../Fonts/IranYekan/IRANYekanWebMedium.eot) format(opentype);
    src: url(../../Fonts/IranYekan/IRANYekanWebMedium.woff2) format(woff2);
}
@font-face {
    font-family: "Kalameh";
    src: url(../../Fonts/Kalameh/Kalameh.ttf) format(truetype);
    src: url(../../Fonts/Kalameh/Kalameh.eot) format(opentype);
    src: url(../../Fonts/Kalameh/Kalameh.woff) format(woff);
    src: url(../../Fonts/Kalameh/Kalameh.woff2) format(woff2);
}
@font-face {
    font-family: "Request";
    src: url(../../Fonts/Request/Request.ttf) format(truetype);
    src: url(../../Fonts/Request/Request.eot) format(opentype);
    src: url(../../Fonts/Request/Request.woff) format(woff);
    src: url(../../Fonts/Request/Request.woff2) format(woff2);
}