// Font Variable

$IranYekan: "IranYekan";
$Kalameh: "Kalameh";
$Request: "Request";

// Color Variable

$app-color: rgb(255, 255, 255);
$shadow-ligten-color: #f2f2f2;
$shadow-darken-color: #f4f4f4;
$purple-color: #8500ff;
$blue-color: #4400ff;
$green-color: rgb(0, 219, 128);
$yellow-color: gold;
$text-color: rgb(0, 0, 0);
$gray-color: rgb(75, 75, 75);
$cover-color: rgba(0, 0, 0, 0.15);